= render :partial => 'nav'
= render :partial => 'header'
= render :partial => 'about'
= render :partial => 'features'
= render :partial => 'features'
= render :partial => 'contact'
= render :partial => 'footer'
